{% extends "base.html" %}
{% load static tailwind_tags %}
{% load static %}
{% tailwind_css %}
{%block body%}
<section id="bg">
    <div class="bg-container">
<section class="bg-center rounded-b-full bg-no-repeat bg-[url('https://img.freepik.com/free-photo/abstract-blue-smooth-wave-lines_1017-24862.jpg?w=1395&t=st=1713618216~exp=1713618816~hmac=b08a79f5f421088a07de8e859be74a1cf19eff5fae47bde86a10d470fbee6b77')] bg-gray-900 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-30">
      <h1 class="mb-4 animate-moveHorizontally text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl underline underline-offset-4">E-Notes Portal</h1>
      <p class="mb-8 text-lg text-white sm:px-16 lg:text-2xl">Keep learning & unlock the power of your brain </p>
      <div>
        <p class="mb-8 mt-8 text-lg font-semibold text-white sm:px-16 lg:text-2xl">E-Notes Portal is a platform that allows classmates or students to share and upload notes, making it a valiable resource for future<br> students. Our goal is to create an academic and professional atmosphere that supports education,personal development, and community enrichment.</p>
        <p class="mb-0 text-lg text-white sm:px-16 lg:text-2xl underline underline-offset-4">To give support for learning from every angle</p>  
    </div>
  </div>
</section>
</div>
</section>
<h1 class="mb-4 mt-16 animate-moveHorizontally text-4xl text-center font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl underline underline-offset-4"> Why E-Notes Portal ?</h1>
<div class="grid grid-cols-3 gap-2">
<div class="ml-16 mt-8 max-w-sm p-6 h-64 rounded bg-white">
    <svg class="w-10 h-10 text-gray-800 text-center" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
      </svg>      
    <a href="#">
        <h5 class="mb-2 text-2xl text-center font-semibold tracking-tight text-gray-900">Personlized learning</h5>
    </a>
    <p class="mb-3 font-normal text-gray-900 text-center">Students easily get notes.Flexibility in<br> pacing and progression. Free access to view notes from the best students globally.</p>
</div>
<div class="ml-16 mt-8 max-w-sm p-6 h-64 bg-white  rounded" >
    <svg class="w-10 h-10 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
      </svg>           
    <a href="#">
        <h5 class="mb-2 text-2xl text-center font-semibold tracking-tight text-gray-900">Trusted content</h5>
    </a>
    <p class="mb-3 text-center font-normal text-gray-900">Uploaded by Students,hand written notes are provided here,and E-Notes Portal is tursted platform.It is free of cost for all students and faculties.</p>
</div>
<div class="ml-16 mt-8 max-w-sm p-6 h-64 bg-white  rounded ">
    <svg class="w-10 h-10 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
      </svg>      
    <a href="#">
        <h5 class="mb-2 text-2xl text-center font-semibold tracking-tight text-gray-900">Study Notes Privacy</h5>
    </a>
    <p class="mb-3 text-center font-normal text-gray-900"> A study class notes website offers encrypted storage and private sharing. It's designed for students to safely manage and exchange class materials.</p>
</div>
</div>
<section class=" h-[350px] bg-white justify-center items-center">
<h1 class="mb-4 mt-16 animate-moveHorizontally text-4xl text-center font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl underline underline-offset-4">Just follow these steps</h1>
<div class="mt-16 flex justify-center items-center">
    <div class="grid grid-cols-3 gap-56">
      <div class="w-60 h-60 bg-gray-900 rounded-full  text-center flex items-center justify-center">
        <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
          </svg>          
        <span class="text-white text-2xl font-bold text-center">Create account</span>
      </div>
      <div class="w-60 h-60 bg-gray-900 rounded-full flex items-center justify-center">
        <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M14.516 6.743c-.41-.368-.443-1-.077-1.41a.99.99 0 0 1 1.405-.078l5.487 4.948.007.006A2.047 2.047 0 0 1 22 11.721a2.06 2.06 0 0 1-.662 1.51l-5.584 5.09a.99.99 0 0 1-1.404-.07 1.003 1.003 0 0 1 .068-1.412l5.578-5.082a.05.05 0 0 0 .015-.036.051.051 0 0 0-.015-.036l-5.48-4.942Zm-6.543 9.199v-.42a4.168 4.168 0 0 0-2.715 2.415c-.154.382-.44.695-.806.88a1.683 1.683 0 0 1-2.167-.571 1.705 1.705 0 0 1-.279-1.092V15.88c0-3.77 2.526-7.039 5.967-7.573V7.57a1.957 1.957 0 0 1 .993-1.838 1.931 1.931 0 0 1 2.153.184l5.08 4.248a.646.646 0 0 1 .012.011l.011.01a2.098 2.098 0 0 1 .703 1.57 2.108 2.108 0 0 1-.726 1.59l-5.08 4.25a1.933 1.933 0 0 1-2.929-.614 1.957 1.957 0 0 1-.217-1.04Z" clip-rule="evenodd"/>
          </svg>          
        <span class="ml-2 text-white text-2xl font-bold text-center">Login</span>
      </div>
      <div class="w-60 h-60 bg-gray-900 rounded-full flex items-center justify-center">
        <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"/>
          </svg>          
        <span class="ml-1 text-white text-2xl font-bold text-center">Download notes</span>
      </div>
      
</div> 
</div>
</section> 
<div>
<section class="bg-center bg-no-repeat bg-[url('https://img.freepik.com/premium-photo/pink-diary-spiral-notebookes-black-pen-isolated-white-background_102618-4763.jpg?w=600')] bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">The Literature Experts</h1>
        <p class="mb-8 text-lg font-normal text-gray-900 lg:text-xl sm:px-16 lg:px-48">Discover & download verified study notes & materials from the best students around the world. Then supercharge your learning by generating quizzes, essays, examples and more.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"> 
        </div>
    </div>
</section>
<div class="grid grid-cols-2 items-center gap-2">
    <div class="ml-20">
        <img src="https://img.freepik.com/premium-photo/3d-render-involved-youth-learning-coding-creative-concept-digital-native-gen-alpha_655090-464561.jpg?w=500">
    </div>
<div class="mr-20">
    <h1 class="mb-4 animate-moveHorizontally text-4xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl underline underline-offset-4">Grow smarter together</h1>
      <p class="mb-8  text-lg text-center text-gray-900 sm:px-16 lg:text-2xl">Find the best study documents to ace your way through education.Find top-rated study notes from students</p>
      
</div>
</div>


{% endblock body %}